<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aidfarh.DisableHideNavigationBar">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <activity android:name="com.aidfarh.DisableHideNavigationBar.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:enabled="true"
            android:name="com.aidfarh.DisableHideNavigationBar.Preferences-Alias"
            android:targetActivity="com.aidfarh.DisableHideNavigationBar.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Xposed Module to disable Hide Navigation bar in immersive mode" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>

</manifest>
